Source: ros-hydro-rovio-shared
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), curl, libcurl4-openssl-dev, ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-std-msgs
Homepage: http://ros.org/wiki/rovio_shared
Standards-Version: 3.9.2

Package: ros-hydro-rovio-shared
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, curl, libcurl4-openssl-dev, ros-hydro-message-runtime, ros-hydro-roscpp, ros-hydro-std-msgs
Description: Standard Messages and Services for the WowWee Rovio
